﻿@import '../../../__data__/style/colors.css';
@import '../../../__data__/style/sizes.css';

@font-face {
    font-family: ProximaNovaSemibold;
    src: url('../../../assets/fonts/proxima-nova-semibold.otf');
}

@font-face {
    font-family: ProximaNovaBold;
    src: url('../../../assets/fonts/proxima-nova-bold.otf');
}

@font-face {
    font-family: ProximaNovaRegular;
    src: url('../../../assets/fonts/proxima-nova-regular.otf');
}

.wrapper {
    background-color:  #04a8ef;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    font-family: ProximaNovaRegular;

    .login-form {
        background: white; 
        border-color:#04a8ef;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        border-radius: 3px;
        width: 35vw;
        height: 480px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}

.login-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: var(--offset-xs);
    color: var(--blue-2);
}

.login-inner {
    padding-left: 14%;
    padding-right: 14%;
}

.login-inner-line {
    display: flex;
    align-items: center;
}

.logo {
    background-color: #04a8ef;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    align-items: center;
}
    
.mediapult {
    margin-top: 5px;
    justify-content: left;
    transform: matrix( 0.84081458359814,0,0,0.84081458359814,0,0);
    font-family: ProximaNovaBold;
    font-size: 28px;
    line-height: 0.8;
}
    
.mediapult span:nth-child(1){
    margin: 0;
    color: #eff3f6;
}
    
.mediapult span:nth-child(2){
    margin: 0;
    color: #354052;
}
 
.agregator-wrapper {
    margin-bottom: 5px;
    transform: matrix( 0.65430547399881,0,0,0.6357436165804,0,0);
}
    
.agregator {
    margin: 0;
    line-height: 0.8;
    word-spacing: 1px;
    font-size: 14.5px;
    color: #eff3f6;
}

.button {
    margin: var(--offset-sm) auto var(--offset-xs);
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:disabled {
        background-color:#e9f9ff;
        border-color: #e9f9ff;;
        color: rgb(200, 218, 255);
    }

    &:hover {
        cursor: pointer;
    }
}

.cancel {
    margin-top: var(--offset-xs);
    text-align: center;
}

.link {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--blue-2);
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: inherit;
    padding: 4px;
    color: rgb(245, 133, 58);
    background-color: #fff;
    font-family: ProximaNovaRegular;
    font-size: var(--offset-sm);
}
