.main {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px #00AEEF solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #00AEEF;
    font-size: 16px;
}