@import '../../assets/social-color.css';
@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--white-2) solid;
    border-radius: 50%;
    background-color: var(--white-1);
    width: 35px;
    height: 35px;
    color: var(--grey-3);
    font-size: 16px;
}