﻿@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

@font-face {
    font-family: ProximaNovaRegular;
    src: url('../../assets/fonts/proxima-nova-regular.otf');
}

.wrapper {
    background-color:  #04a8ef;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    font-family: ProximaNovaRegular;
}