@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.main {
    max-width: inherit;
    margin-top: var(--offset-xs);
    height: 24px;
    color: #fff;
    border: rgb(229, 143, 143);
    border-radius: 5px;
    background-color: rgb(231, 102, 102);;
    text-align: center;
}

.error-text {
    size: 8px;
}

.error-title {
    size: 16px;
}