.main {
    border-radius: 4px;
    border: 1px #00AEEF solid;
    height: 34px;
    width: 112px;
    color: #00AEEF;
    font-size: 16px;
    position: relative;
    background: none;
    cursor: pointer;
}

.border_none {
    border: none;
}



