@import '../../assets/social-color.css';
@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: url("../../assets/images/btn_Plus.svg");
    margin-top: var(--offset-sm);
    cursor: pointer;
}

.main-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: url("../../assets/images/CheckMark.svg");
    margin-top: var(--offset-sm);
    cursor: pointer;
}