@import '../../assets/social-color.css';
@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.item {
    display: flex;
    width: 200px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);

    img {
        height: 40px;
        width: 70px;
    }

    p {
        color: var(--grey-9);
        font-weight: 600;
        font-size: 18px;
        margin: var(--offset-xs) 0;
    }
}