@import '../../assets/social-color.css';
@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';


.wrapper{
    max-width: 100vw;
    display: flex;
    font-family: ProximaNovaSemiBold;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.test {
    display: flex;
    height: 100px;
    background-color: #d1676a;
}