@import '../../assets/social-color.css';
@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: var(--offset-sm);
    padding-right: var(--offset-sm);
}
