﻿@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.main {
    margin-top: var(--offset-xs);
    display: flex;
    flex-direction: column; 
}

.label {
    color: var(--blue-2);
    font-size: 16px;
}

.input {
    width: 95%;
    margin-top: 4px;
    border-radius: 3px;
    border: 2px solid rgb(215, 234, 255);
    background-color: var(--white);
    height: var(--offset-md);
    outline: none;

    &:focus {
        border: 2px solid var(--blue-2);
    }
}

.input-error {
    width: 95%;
    margin-top: 4px;
    border-radius: 3px;
    border: 2px solid rgb(245, 133, 58);
    background-color: var(--white);
    height: var(--offset-md);
    outline: none;
}

.label-error {
    color:rgb(245, 133, 58);
    font-size: 16px;
}

.error {
    display: flex;
    align-items: center;
    width: 320px;
    margin-top: 0px;
    color: rgb(245, 133, 58);
    font-size: 14px;
}