@import '../../assets/social-color.css';
@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

@font-face {
    font-family: ProximaNovaSemibold;
    src: url('../../assets/fonts/proxima-nova-semibold.otf');
}

@font-face {
    font-family: ProximaNovaBold;
    src: url('../../assets/fonts/proxima-nova-bold.otf');
}

@font-face {
    font-family: ProximaNovaRegular;
    src: url('../../assets/fonts/proxima-nova-regular.otf');
}

.wrapper{
    max-width: 100vw;
    display: flex;
    font-family: ProximaNovaSemiBold;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: var(--blue-2);
}

.headerContent {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0 95px;
}

.logo {
    display: flex;
    width: 155px;
    flex-direction: column;
    justify-content: center;

    span {
        width: 100%;
        font-size: 11px;
        color: var(--white);
        padding-top: var(--offset-xs);
    }
}

nav {
    display: flex;
    width: calc(100% - 155px - 155px);
    flex-direction: row;
    justify-content: center;

    p {
        display: flex;
        color: var(--white);
        align-items: center;
        cursor: pointer;
    }
    p:nth-child(2) {
        padding-right: var(--offset-md);
        padding-left: var(--offset-md);
    }
}

.authorization {
    display: flex;
    width: 155px;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    .authorization-button {
        display: flex;
        align-items: center;
        color: var(--white);
        padding-right: var(--offset-md);
    }

    .authorization-button-border {
        display: flex;
        align-items: center;
        color: var(--white);
        border: 1px solid var(--white);
    }
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, var(--white) 30%, var(--blue-2) 30%);

    p {
        font-size: 30px;
        color: var(--white);
    }

    span {
        font-size: 18px;
        color: var(--white);
        margin-top: -16px;
    }
}

.check {
    display: flex;
    flex-direction: row;
    width: 600px;
    margin-top: var(--offset-md);
    align-items: center;

    a {
        display: flex;
        text-decoration: none;
        color: white;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        height: 50px;

        p {
            display: flex;
            width: 100%;
            height: 50%;
            font-size: 14px;
            color: var(--white);
            text-align: center;
            cursor: pointer;
            margin: 0;
        }
    }

    a:first-child {
        width: 200px;
        border: 2px solid var(--white);
        border-radius: 50px 0 0 50px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    a:last-child {
        width: 200px;
        border: 2px solid var(--white);
        border-radius: 0 50px 50px 0;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    a:nth-child(2) {
        width: 200px;
        border-top: 2px solid var(--white);
        border-bottom: 2px solid var(--white);
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

.video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 940px;
    height: 530px;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.35);
    margin-top: var(--offset-blg);
}

.information {
    display: flex;
    flex-direction: column;
    padding-top: var(--offset-blg);
    padding-bottom: var(--offset-blg);

    p {
        font-size: 32px;
        text-align: center;
        line-height: 1.2;
        margin: 0;
        font-family: ProximaNovaRegular;
        font-weight: lighter;
    }
}

.union {
    display: flex;
    flex-direction: row;
    margin: 40px 95px 0 95px;
}

.picture {
    min-width: 35%;
    max-width: 35%;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: calc(60% - 65px);
    margin-left: 65px;
}

.info-select {
    display: flex;
    flex-direction: row;

    span {
        padding-left: var(--offset-md);
        font-weight: normal;
        line-height: 1.667;
        font-size: 18px;
        font-family: ProximaNovaRegular;
    }
}

.info-select:not(:first-child) {
    margin-top: 20px;
}

.info-select-number {
    min-width: 40px;
}

.ad_selection {
    display: flex;
    flex-direction: row;
    height: 445px;
    background-color: #EFF3F6;
    justify-content: space-around;
    font-size: 24px;
}

.ad_sel {
    display: flex;
    flex-direction: column;
    color: #00AEEF;
    font-size: 24px;
    width: 200px;
    height: 100%;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-family: ProximaNovaRegular;
}

.ad_sel_icon {
    height: 180px;
}

.span {
    font-size: 28px;
    color: black;
}

.mediapult_pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    font-size:18px;
    color:#000000;
    padding-left:30px;
}
.mediapult_picture1 {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.mediapult_ads {
    text-align: center;
    font-family: "ProximaNovaRegular";
    font-size:33px;
    color: #354052;
    padding-bottom:140px;
}
.slideshow1 {
    text-align: center;
}