@import '../../assets/social-color.css';
@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

@font-face {
    font-family: ProximaNovaSemibold;
    src: url('../../assets/fonts/proxima-nova-semibold.otf');
}

@font-face {
    font-family: ProximaNovaBold;
    src: url('../../assets/fonts/proxima-nova-bold.otf');
}

@font-face {
    font-family: ProximaNovaRegular;
    src: url('../../assets/fonts/proxima-nova-regular.otf');
}

.footer {
    background-color: #04a8ef;
    height: 160px;
    max-width: 100%;
    padding: 0 95px 0 95px;

    .footer-content {
        width: 100%;
        height: 100%;
    }
}

.footer-inner {
    height: 37px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 auto;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.footer-logo-mediapult {
    justify-content: left;
    transform: matrix( 0.84081458359814,0,0,0.84081458359814,0,0);
    font-family: ProximaNovaBold;
    font-size: 31.708px;
    line-height: 0.8;
}

.footer-logo-mediapult span:nth-child(1){
    margin: 0;
    color: #eff3f6;
}

.footer-logo-mediapult span:nth-child(2){
    margin: 0;
    color: #354052;
}

.agregator-wrapper{
    margin-left: -21px;
    transform: matrix( 0.65430547399881,0,0,0.6357436165804,0,0);
}

.footer-agregator {
    margin: 0;
    line-height: 0.8;
    word-spacing: 1px;
    font-size: 16px;
    color: #eff3f6;
    font-family: ProximaNovaRegular;
}

.footer-navigation {
    margin-right: 45px;
    font-size: 14px;
    line-height: 1.2;
}

.footer-link {
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    font-family: ProximaNovaRegular;
}

.footer-link:first-child {
    margin-left: 0;
}

.footer-phone{
    font-size: 24px;
    color: #fff;
    line-height: 1.2;
    font-family: ProximaNovaRegular;
}

.footer-social-container {
    padding-top: 20px;
    padding-bottom: 29px;
    margin: 0 auto 0 auto;
    max-width: 510px;
    display: flex;
    justify-content: space-between;
}

.footer-social-link {
    width: 45px;
    height: 44px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
}

.footer-social-link:hover {
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
}

.vk:hover {
    background-color: var(--color-vk);
}

.twitter:hover {
    background-color: var(--color-twitter);
}

.facebook:hover {
    background-color: var(--color-facebook);
}

.linkedin:hover {
    background-color: var(--color-linkedin);
}

.insta:hover {
    background-color: var(--color-insta);
}

.ok:hover {
    background-color: var(--color-ok);
}

.youtube:hover {
    background-color: var(--color-youtube);
}

.googleplus:hover {
    background-color: var(--color-googleplus);
}