@import '../../../assets/social-color.css';
@import '../../../__data__/style/colors.css';
@import '../../../__data__/style/sizes.css';

@font-face {
    font-family: ProximaNovaSemibold;
    src: url('../../../assets/fonts/proxima-nova-semibold.otf');
}

@font-face {
    font-family: ProximaNovaBold;
    src: url('../../../assets/fonts/proxima-nova-bold.otf');
}

@font-face {
    font-family: ProximaNovaRegular;
    src: url('../../../assets/fonts/proxima-nova-regular.otf');
}


.wrapper{
    max-width: 100vw;
    display: flex;
    font-family: ProximaNovaSemiBold;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.test {
    display: flex;
    height: 100px;
    background-color: #d1676a;
}

.status-step {
    display: flex;
    height: 100px;
}

.status-city {
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding-left: 95px;

    span {
        color: var(--white-3);
    }

    .city-opt {
        padding-left: var(--offset-xs);
        font-weight: 500;
        color: var(--black);
    }
}

.status {
    display: flex;
    width: calc(100% - 30% - 190px);
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--offset-lg);

    span {
        color: var(--white-3);
        padding-right: var(--offset-sm);
        padding-left: var(--offset-xs);
    }
}

.status-step-check {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--blue-3) solid;
    border-radius: 50%;
    background-color: var(--blue-30);
    width: 35px;
    height: 35px;
    color: var(--white);
    font-size: 16px;
}

.status-next {
    display: flex;
    width: 15%;
    padding-right: 95px;
    justify-content: center;
    align-items: center;
}

.status-button {
    border-radius: 4px;
    border: 1px var(--green-3) solid;
    height: 34px;
    width: 112px;
    color: var(--white);
    font-size: 16px;
    background-color: var(--green-2);
}

.step-one {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 360px);
    background-color: var(--white-0);
}

.sequence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    margin: 0 95px;
}

.item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    margin: 0 95px;
}

button, button:active, button:focus {
    border: none;
    outline: none;
}