:root {
    --color-vk:#6fa0d8;
    --color-twitter: #a2dffc;
    --color-youtube: #d1676a;
    --color-facebook: #92b7fc;
    --color-googleplus: #d1676a;
    --color-insta: #f6e581;
    --color-linkedin: #66a6e3;
    --color-ok:#f3b977;
}